* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

// Declare and call variables with `$`
$primary-color: #65dfc9;
$secondary-color: #6cdbeb;
$color-white: #f5f5f5;
$main-background: linear-gradient(to right top, $primary-color, $secondary-color);
$circle-background: linear-gradient(to right bottom, rgba(255,255,255,0.6), rgba(255,255,255,0.2));
$glass-background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
$text-bold: rgba(71, 101, 149, 0.927);
$text-normal: rgba(114, 145, 203, 0.927);

// @mixins for reusing the chunck of code
@mixin font-desc($color, $size) {
    color: $color;
    font-size: $size;
}
@mixin font-head($weight, $color, $size) {
    font-weight: $weight;
    color: $color;
    font-size: $size;
}

main {
    min-height: 100vh;
    background: $main-background;
    display: flex;
    align-items: center;
    justify-content: center;
    .glass {
        background: $color-white;
        min-height: 80vh;
        width: 60%;
        background: $glass-background;
        border-radius: 1.5rem;
        z-index: 2;
        backdrop-filter: blur(.7rem);
        display: flex;
        .dashboard {
            flex: 1;
            height: 80vh;
            background: linear-gradient(180deg, rgba(255,255,255,0.5), rgba(255,255,255,0.3));
            float: left;
            border-radius: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            .user {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .3rem;
                img {
                    width: 4rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                }
                h4 {
                    font-size: .8rem;
                    color: $text-bold;
                }
                p {
                    @include font-desc($text-normal, .7rem);
                }

            }
            .links {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                margin-left: -1.5rem;
                .link {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    img {
                        width: 1.8rem;
                        aspect-ratio: 1;
                    }
                    h3 {
                        @include font-head(normal, $text-normal, 1.1rem);
                    }
                }
            }
            .pro {
                width: 85%;
                height: 15vh;
                background: $secondary-color;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 1.5rem;
                padding-inline: 1rem;
                img {
                    width: 6rem;
                    aspect-ratio: 1;
                    margin-top: -4px;
                }
                h2 {
                    color: $color-white;
                    font-size: 1.1rem;
                }
            }
        }
        .container {
            flex: 2;
            float: left;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-inline: 3rem;
            flex-direction: column;
            header {
                width: 100%;
                margin-bottom: 1.5rem;
                h1 {
                    @include font-head(800, $text-bold, 2rem);
                }
                input {
                    width: 55%;
                    margin-top: 5px;
                    border: none;
                    outline: none;
                    border-radius: 2rem;
                    padding: .3rem .5rem;
                    background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.3));
                }
                input:focus {
                    outline: 1px solid $primary-color;
                    color: $text-normal;
                }
            }
            .card {
                width: 100%;
                height: 20%;
                background: $color-white;
                display: flex;
                gap: 3.5rem;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-radius: 1rem;
                margin-block: .5rem;
                img {
                    width: 5rem;
                    aspect-ratio: 1;
                }
                .card-info {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    justify-content: center;
                    span {
                        @include font-head(normal, $text-normal, 1.1rem)
                    }
                    p {
                        @include font-desc($text-normal, .7rem)
                    }
                    .progress-bar {
                        width: 100%;
                        height: 3vh;
                        background: rgb(218, 218, 218);
                        border-radius: 1rem;
                        .progress {
                            background: $primary-color;
                            height: 100%;
                            width: 60%;
                            border-radius: 1rem 0 0 1rem;
                        }
                    }
                }
                .percentage {
                    color: $primary-color;
                    font-weight: bold;
                    font-size: 1rem;
                    align-self: flex-start;
                }
            }
        }
    }
}
.circle1, .circle2 {
    background: $color-white;
    background: $circle-background;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    position: absolute;
}
.circle1 {
    top: 6%;
    right: 14%;
}
.circle2 {
    bottom: 6%;
    left: 12%;
}

