* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}
main p {
  font-size: 13px;
}
main .glass {
  min-height: 80vh;
  width: 60%;
  display: flex;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  z-index: 1;
}
main .glass .dashboard {
  width: 27%;
  min-height: 100%;
  border-radius: 2rem;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
main .glass .dashboard p {
  font-weight: normal;
  color: rgba(126, 146, 197, 0.927);
}
main .glass .dashboard h4 {
  font-weight: bold;
  color: rgba(92, 119, 162, 0.927);
}
main .glass .dashboard h3 {
  font-weight: normal;
  color: rgba(126, 146, 197, 0.927);
}
main .glass .dashboard .user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .glass .dashboard .user img {
  margin-bottom: 0.5rem;
  width: 4.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
}
main .glass .dashboard .links {
  padding-top: 1.5rem;
}
main .glass .dashboard .links .link {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
  gap: 1.7rem;
  margin-left: -0.8rem;
}
main .glass .dashboard .links .link img {
  width: 2rem;
  aspect-ratio: 1;
}
main .glass .dashboard .pro {
  width: 85%;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 1.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .glass .dashboard .pro h3 {
  width: 40%;
  font-weight: bold;
  color: #f5f5f5;
}
main .glass .dashboard .pro img {
  width: 6rem;
  aspect-ratio: 1;
  margin-top: -1rem;
}
main .glass .games {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  padding: 4rem 3rem;
}
main .glass .games .game-search {
  padding-bottom: 3rem;
}
main .glass .games .game-search h1 {
  font-weight: bold;
  color: rgba(92, 119, 162, 0.927);
  font-size: 1.8rem;
  letter-spacing: 2px;
}
main .glass .games .game-search input {
  width: 45%;
  outline: none;
  border: none;
  border-radius: 2rem;
  padding: 3px 1rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
  margin-top: 4px;
}
main .glass .games .game-search input:focus {
  outline: 2px solid #65dfc9;
}
main .glass .games .card {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7));
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.3);
  padding: 1.5rem;
  margin-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .glass .games .card img {
  width: 4.5rem;
  aspect-ratio: 1;
}
main .glass .games .card .card-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
}
main .glass .games .card .card-info h3 {
  font-weight: normal;
  color: rgba(126, 146, 197, 0.927);
}
main .glass .games .card .card-info p {
  font-weight: normal;
  color: rgba(126, 146, 197, 0.927);
}
main .glass .games .card .card-info .progress-bar {
  width: 90%;
  height: 1.2rem;
  background: rgba(209, 209, 209, 0.5);
  border-radius: 2rem;
}
main .glass .games .card .card-info .progress-bar .progress {
  width: 60%;
  height: 100%;
  background-color: #6cdbeb;
  border-radius: 2rem 0 0 2rem;
}
main .glass .games .card .percentage {
  align-self: flex-start;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: bold;
}

.circle1, .circle2 {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
  position: absolute;
}

.circle1 {
  top: 0;
  right: 15%;
}

.circle2 {
  bottom: 0;
  left: 15%;
}/*# sourceMappingURL=style.css.map */