@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
:root {
    --primary-color: #f5f5f5;
    --secondary-color: #512da8;
    --body-background: #c9d6ff;
    --body-gradient: linear-gradient(to right, #e2e2e2, var(--body-background)) ;
    --toggle-gradient: linear-gradient(to right bottom, #8195f0, var(--secondary-color));
}

